development-files/public/components/shell/automate-panel.html

<section class="section-page section-page--automate">
  <div class="container">
    <div class="box-half"><img class="lazyload animate delay-1" data-src="images/automate.png" alt=""/></div>
    <div class="box-half">
      <h2 class="animate delay-2">Automated Server Panel</h2>
      <p class="animate delay-3">Easily manage your dedicated server with our panel. A few features of the panel are OS reloads, power options, secure IPMI and port management; <span>even sub-assigning the dedicated server to your staff can be done with a few clicks! </span></p>
    </div>
  </div>
</section>

development-files/src/views/components/shell/automate-panel.pug
section.section-page.section-page--automate
    .container
        .box-half
            img.lazyload(data-src="images/automate.png", alt="").animate.delay-1
        .box-half
            h2.animate.delay-2 Automated Server Panel
            p.animate.delay-3 Easily manage your dedicated server with our panel. A few features of the panel are OS reloads, power options, secure IPMI and port management; 
                span even sub-assigning the dedicated server to your staff can be done with a few clicks! 
