development-files/public/components/shell/featured.html

<section class="section-page section-page--featured">
  <div class="container">
    <div class="box-featured">
      <h4 class="h4">Featured on</h4><img src="images/cointele.png" alt=""/><img src="images/blockonomi.png" alt=""/><img src="images/fobres.png" alt=""/>
    </div>
  </div>
</section>

development-files/src/views/components/shell/featured.pug
section.section-page.section-page--featured
    .container
        .box-featured
            h4.h4 Featured on
            img(src="images/cointele.png", alt="")
            img(src="images/blockonomi.png", alt="")
            img(src="images/fobres.png", alt="")
