development-files/public/components/shell/footer.html

<footer class="footer-shell">
  <div class="container container--banner">
    <div class="banner-footer animate">
      <div class="banner-footer__content">
        <h2 class="h2">Choose your best plan!</h2>
        <p>Join over 13,000 satisfied customers already using ignero.com and make your content hop.</p>
      </div>
      <div class="banner-footer__cta">
        <div class="action"><a class="btn-white" href="dedicated-server.html">Dedicated Servers</a><a class="btn-default btn-soon" href="contact.html"><span>Contact Us</span></a></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer-info animate delay-2">
      <div class="footer-brand"><img src="images/logo.svg" alt=""/>
        <p>Ignero is Los Angeles based company specializing in infrastructure as a service. We've cherry picked our hardware, network and datacenters so our clients could have an amazing experience.</p>
        <nav> <span>Sales Department: </span><a href="mailto:sales@ignero.com"> sales@ignero.com</a><span>Support Department:</span><a href="mailto:support@ignero.com"> support@ignero.com</a><span>Phone:</span><a href="tell:12026437712">+1 (202) 643-7712</a></nav>
      </div>
      <div class="footer-menu">
        <h3>Sitemap</h3>
        <nav><a href="">Products</a><a href="">Features</a><a href="">Pricing</a><a href="about.html">About us</a><a href="contact.html">Contact us</a></nav>
      </div>
      <div class="footer-menu">
        <h3>Products</h3>
        <nav><a href="pricing-vps.html">Ryzen VPS</a><a href="dedicated-server.html">Dedicated Servers</a><a href="">Coming Soon</a></nav>
      </div>
      <div class="footer-menu">
        <h3>Features</h3>
        <nav><a href="">Control Panel</a><a href="">IPMI/KVM Access</a><a href="">DDoS Protection</a><a href="">Ryzen Performance</a><a href="">Fast Network</a></nav>
      </div>
      <div class="footer-menu">
        <h3>Company</h3>
        <nav><a href="privacy.html">Privacy &amp; Policy</a><a href="term.html">Terms of Services</a><a href="acceptable.html">Acceptable Use</a><a href="about.html">About Us</a></nav>
      </div>
    </div>
    <div class="footer-note">
      <p>Copyright © 2021 Ignero Hosting. All Rights Reserved.</p>
      <nav><a href="https://twitter.com/IgneroHosting">Twitter</a><a href="https://www.trustpilot.com/review/ignero.com">TrustPilot</a></nav>
    </div>
  </div>
</footer>

development-files/src/views/components/shell/footer.pug
footer.footer-shell
    .container.container--banner
        //- banner footer
        .banner-footer.animate
            .banner-footer__content
                h2.h2 Choose your best plan!
                p Join over 13,000 satisfied customers already using ignero.com and make your content hop.
            .banner-footer__cta
                .action
                    a.btn-white(href="dedicated-server.html") Dedicated Servers
                    a.btn-default.btn-soon(href="contact.html")
                        span Contact Us

    .container
        .footer-info.animate.delay-2
            .footer-brand
                img(src="images/logo.svg", alt="")
                p Ignero is Los Angeles based company specializing in infrastructure as a service. We've cherry picked our hardware, network and datacenters so our clients could have an amazing experience.
                nav 
                    span Sales Department: 
                    a(href="mailto:sales@ignero.com")  sales@ignero.com
                    span Support Department:
                    a(href="mailto:support@ignero.com")  support@ignero.com
                    span Phone:
                    a(href="tell:12026437712") +1 (202) 643-7712


            .footer-menu
                h3 Sitemap
                nav
                    a(href="") Products
                    a(href="") Features
                    a(href="") Pricing
                    a(href="about.html") About us
                    a(href="contact.html") Contact us
                    
            .footer-menu
                h3 Products
                nav
                    a(href="pricing-vps.html") Ryzen VPS
                    a(href="dedicated-server.html") Dedicated Servers
                    a(href="") Coming Soon

            .footer-menu
                h3 Features
                nav
                    a(href="") Control Panel
                    a(href="") IPMI/KVM Access
                    a(href="") DDoS Protection
                    a(href="") Ryzen Performance
                    a(href="") Fast Network

            .footer-menu
                h3 Company
                nav
                    a(href="privacy.html") Privacy &amp; Policy
                    a(href="term.html") Terms of Services
                    a(href="acceptable.html") Acceptable Use
                    a(href="about.html") About Us

        .footer-note
            p Copyright © 2021 Ignero Hosting. All Rights Reserved.
            nav
                a(href="https://twitter.com/IgneroHosting") Twitter
                a(href="https://www.trustpilot.com/review/ignero.com") TrustPilot
