development-files/public/components/shell/testi-section.html

<section class="section-page section-page--testi">
  <div class="container">
    <div class="upper-box">
      <h2>Trusted by over 16.000 happy customers</h2>
      <div class="slide-arrow-wrapper">
        <button class="slickPrev"><img src="images/arrow_left.png" alt=""/></button>
        <button class="slickNext"><img src="images/arrow_right.png" alt=""/></button>
      </div>
    </div>
    <div class="slide-wrapper"> 
      <div>
        <div class="slide-itm"><img src="images/quote.svg" alt=""/>
          <p class="line-clamp line-clamp-6">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          <div class="user-wrapper"> <img src="images/testi_profile.png" alt=""/>
            <div class="name-wrapper"> 
              <div>Dianne Russell</div>
              <div>CMO - MasterCard</div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="slide-itm"><img src="images/quote.svg" alt=""/>
          <p class="line-clamp line-clamp-6">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          <div class="user-wrapper"> <img src="images/testi_profile.png" alt=""/>
            <div class="name-wrapper"> 
              <div>Robert Fox</div>
              <div>CEO - Nintendo</div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="slide-itm"><img src="images/quote.svg" alt=""/>
          <p class="line-clamp line-clamp-6">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          <div class="user-wrapper"> <img src="images/testi_profile.png" alt=""/>
            <div class="name-wrapper"> 
              <div>Albert Flores</div>
              <div>CTO - General Electric</div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="slide-itm"><img src="images/quote.svg" alt=""/>
          <p class="line-clamp line-clamp-6">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          <div class="user-wrapper"> <img src="images/testi_profile.png" alt=""/>
            <div class="name-wrapper"> 
              <div>Albert Flores</div>
              <div>CTO - General Electric</div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="slide-itm"><img src="images/quote.svg" alt=""/>
          <p class="line-clamp line-clamp-6">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          <div class="user-wrapper"> <img src="images/testi_profile.png" alt=""/>
            <div class="name-wrapper"> 
              <div>Albert Flores</div>
              <div>CTO - General Electric</div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="slide-itm"><img src="images/quote.svg" alt=""/>
          <p class="line-clamp line-clamp-6">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          <div class="user-wrapper"> <img src="images/testi_profile.png" alt=""/>
            <div class="name-wrapper"> 
              <div>Albert Flores</div>
              <div>CTO - General Electric</div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="slide-itm"><img src="images/quote.svg" alt=""/>
          <p class="line-clamp line-clamp-6">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          <div class="user-wrapper"> <img src="images/testi_profile.png" alt=""/>
            <div class="name-wrapper"> 
              <div>Albert Flores</div>
              <div>CTO - General Electric</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="indicator-wrapper"></div>
  </div>
</section>

development-files/src/views/components/shell/testi-section.pug
section.section-page.section-page--testi
    .container
        .upper-box
            h2 Trusted by over 16.000 happy customers
            .slide-arrow-wrapper
                button.slickPrev
                    img(src="images/arrow_left.png", alt="")
                button.slickNext
                    img(src="images/arrow_right.png", alt="")
        .slide-wrapper 
            div
                .slide-itm
                    img(src="images/quote.svg", alt="")
                    p.line-clamp.line-clamp-6 Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    .user-wrapper 
                        img(src="images/testi_profile.png", alt="")
                        .name-wrapper 
                            div Dianne Russell
                            div CMO - MasterCard
            div
                .slide-itm
                    img(src="images/quote.svg", alt="")
                    p.line-clamp.line-clamp-6 Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    .user-wrapper 
                        img(src="images/testi_profile.png", alt="")
                        .name-wrapper 
                            div Robert Fox
                            div CEO - Nintendo
            div
                .slide-itm
                    img(src="images/quote.svg", alt="")
                    p.line-clamp.line-clamp-6 Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    .user-wrapper 
                        img(src="images/testi_profile.png", alt="")
                        .name-wrapper 
                            div Albert Flores
                            div CTO - General Electric
            div
                .slide-itm
                    img(src="images/quote.svg", alt="")
                    p.line-clamp.line-clamp-6 Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    .user-wrapper 
                        img(src="images/testi_profile.png", alt="")
                        .name-wrapper 
                            div Albert Flores
                            div CTO - General Electric
            div
                .slide-itm
                    img(src="images/quote.svg", alt="")
                    p.line-clamp.line-clamp-6 Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    .user-wrapper 
                        img(src="images/testi_profile.png", alt="")
                        .name-wrapper 
                            div Albert Flores
                            div CTO - General Electric
            div
                .slide-itm
                    img(src="images/quote.svg", alt="")
                    p.line-clamp.line-clamp-6 Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    .user-wrapper 
                        img(src="images/testi_profile.png", alt="")
                        .name-wrapper 
                            div Albert Flores
                            div CTO - General Electric
            div
                .slide-itm
                    img(src="images/quote.svg", alt="")
                    p.line-clamp.line-clamp-6 Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    .user-wrapper 
                        img(src="images/testi_profile.png", alt="")
                        .name-wrapper 
                            div Albert Flores
                            div CTO - General Electric
        .indicator-wrapper
