development-files/public/pages/pricing/card-pricing-vps.html

<section class="section-page section-page--card-pricing">
  <div class="container">
    <div class="box-table animate delay-1">
      <div class="table-pricing" id="mobileSildePricing">
        <ul class="table-list table-list--head">
          <li>Name</li>
          <li>Cores</li>
          <li>RAM</li>
          <li>Storage</li>
          <li>Bandwidth</li>
          <li>Price</li>
          <li>Order</li>
        </ul>
        <ul class="table-list">
          <li><a class="table-link" href="#">vIO-RYZEN-1GB</a></li>
          <li>1 Ryzen vCore</li>
          <li>2GB RAM</li>
          <li>20GB NVMe SSD</li>
          <li>1TB @ 1Gbps</li>
          <li>$3.50 USD</li>
          <li><a class="btn-gray" href="#"><span class="bg"></span><span class="text">Deploy Now <span class="price">$3.50 USD<span></span></a></li>
        </ul>
        <ul class="table-list">
          <li><a class="table-link" href="#">vIO-RYZEN-2GB</a></li>
          <li>1 Ryzen vCore</li>
          <li>2GB RAM</li>
          <li>20GB NVMe SSD</li>
          <li>1TB @ 1Gbps</li>
          <li>$6.00 USD</li>
          <li><a class="btn-gray" href="#"><span class="bg"></span><span class="text">Deploy Now <span class="price">$6.00 USD<span></span></a></li>
        </ul>
        <ul class="table-list">
          <li><a class="table-link" href="#">vIO-RYZEN-4GB</a></li>
          <li>2 Ryzen vCores</li>
          <li>4GB RAM</li>
          <li>40GB NVMe SSD</li>
          <li>2TB @ 1Gbps</li>
          <li>$12.00 USD</li>
          <li><a class="btn-gray" href="#"><span class="bg"></span><span class="text">Deploy Now <span class="price">$12.00 USD<span></span></a></li>
        </ul>
        <ul class="table-list">
          <li><a class="table-link" href="#">vIO-RYZEN-8GB</a></li>
          <li>4 Ryzen vCores</li>
          <li>8GB RAM</li>
          <li>80GB NVMe SSD</li>
          <li>2TB @ 1Gbps</li>
          <li>$24.00 USD</li>
          <li><a class="btn-gray" href="#"><span class="bg"></span><span class="text">Deploy Now <span class="price">$24.00 USD<span></span></a></li>
        </ul>
        <ul class="table-list">
          <li><a class="table-link" href="#">vIO-RYZEN-12GB</a></li>
          <li>6 Ryzen vCores</li>
          <li>12GB RAM</li>
          <li>120GB NVMe SSD</li>
          <li>3TB @ 1Gbps</li>
          <li>$36.00 USD </li>
          <li><a class="btn-gray" href="#"><span class="bg"></span><span class="text">Deploy Now <span class="price">$36.00 USD<span></span></a></li>
        </ul>
        <ul class="table-list">
          <li><a class="table-link" href="#">vIO-RYZEN-16GB</a></li>
          <li>8 Ryzen vCores</li>
          <li>16GB RAM</li>
          <li>160GB NVMe SSD</li>
          <li>3TB @ 1Gbps</li>
          <li>$48‬.00 USD</li>
          <li><a class="btn-gray" href="#"><span class="bg"></span><span class="text">Deploy Now <span class="price">$48‬.00 USD<span></span></a></li>
        </ul>
        <ul class="table-list">
          <li><a class="table-link" href="#">vIO-RYZEN-24GB</a></li>
          <li>12 Ryzen vCores</li>
          <li>24GB RAM</li>
          <li>240GB NVMe SSD</li>
          <li>4TB @ 1Gbps</li>
          <li>$72.00 USD</li>
          <li><a class="btn-gray" href="#"><span class="bg"></span><span class="text">Deploy Now <span class="price">$72.00 USD<span></span></a></li>
        </ul>
        <ul class="table-list">
          <li><a class="table-link" href="#">vIO-RYZEN-32GB</a></li>
          <li>16 Ryzen vCores</li>
          <li>32GB RAM</li>
          <li>320GB NVMe SSD</li>
          <li>4TB @ 1Gbps</li>
          <li>$96‬.00 USD</li>
          <li><a class="btn-gray" href="#"><span class="bg"></span><span class="text">Deploy Now <span class="price">$96‬.00 USD<span></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

development-files/src/views/pages/pricing/card-pricing-vps.pug
section.section-page.section-page--card-pricing
    .container
        .box-table.animate.delay-1
            .table-pricing#mobileSildePricing
                ul.table-list.table-list--head
                    li Name
                    li Cores
                    li RAM
                    li Storage
                    li Bandwidth
                    li Price
                    li Order
                ul.table-list
                    li
                        a.table-link(href="#") vIO-RYZEN-1GB
                    li 1 Ryzen vCore
                    li 2GB RAM
                    li 20GB NVMe SSD
                    li 1TB @ 1Gbps
                    li $3.50 USD
                    li
                        a.btn-gray(href="#")
                            span.bg
                            span.text Deploy Now <span class="price">$3.50 USD<span>
                ul.table-list
                        li
                            a.table-link(href="#") vIO-RYZEN-2GB
                        li 1 Ryzen vCore
                        li 2GB RAM
                        li 20GB NVMe SSD
                        li 1TB @ 1Gbps
                        li $6.00 USD
                        li
                            a.btn-gray(href="#")
                                span.bg
                                span.text Deploy Now <span class="price">$6.00 USD<span>
                ul.table-list
                    li
                        a.table-link(href="#") vIO-RYZEN-4GB
                    li 2 Ryzen vCores
                    li 4GB RAM
                    li 40GB NVMe SSD
                    li 2TB @ 1Gbps
                    li $12.00 USD
                    li
                        a.btn-gray(href="#")
                            span.bg
                            span.text Deploy Now <span class="price">$12.00 USD<span>
                ul.table-list
                    li
                        a.table-link(href="#") vIO-RYZEN-8GB
                    li 4 Ryzen vCores
                    li 8GB RAM
                    li 80GB NVMe SSD
                    li 2TB @ 1Gbps
                    li $24.00 USD
                    li
                        a.btn-gray(href="#")
                            span.bg
                            span.text Deploy Now <span class="price">$24.00 USD<span>
                ul.table-list
                    li
                        a.table-link(href="#") vIO-RYZEN-12GB
                    li 6 Ryzen vCores
                    li 12GB RAM
                    li 120GB NVMe SSD
                    li 3TB @ 1Gbps
                    li $36.00 USD 
                    li
                        a.btn-gray(href="#")
                            span.bg
                            span.text Deploy Now <span class="price">$36.00 USD<span>
                ul.table-list
                    li
                        a.table-link(href="#") vIO-RYZEN-16GB
                    li 8 Ryzen vCores
                    li 16GB RAM
                    li 160GB NVMe SSD
                    li 3TB @ 1Gbps
                    li $48‬.00 USD
                    li
                        a.btn-gray(href="#")
                            span.bg
                            span.text Deploy Now <span class="price">$48‬.00 USD<span>
                ul.table-list
                    li
                        a.table-link(href="#") vIO-RYZEN-24GB
                    li 12 Ryzen vCores
                    li 24GB RAM
                    li 240GB NVMe SSD
                    li 4TB @ 1Gbps
                    li $72.00 USD
                    li
                        a.btn-gray(href="#")
                            span.bg
                            span.text Deploy Now <span class="price">$72.00 USD<span>
                ul.table-list
                    li
                        a.table-link(href="#") vIO-RYZEN-32GB
                    li 16 Ryzen vCores
                    li 32GB RAM
                    li 320GB NVMe SSD
                    li 4TB @ 1Gbps
                    li $96‬.00 USD
                    li
                        a.btn-gray(href="#")
                            span.bg
                            span.text Deploy Now <span class="price">$96‬.00 USD<span>
