development-files/src/views/pages/pricing/features-cpanel.pug
section.section-page.section-page--features
    .main-features
        .container
            header.header-section
                h2.h2.animate Features
                p.animate.delay-1 Our network and hardware allow you to host without worry. From enterprise hardware to amazing support, we got you covered.

            .box-features.grid-cols-3#featuresPricing
                .box-inner
                    .list.animate
                        figure
                            img(data-src="images/pricing-feature-1.svg", alt="" class="lazyload")
                        h3.h3 Control Panel
                        p cPanel is one of the most well known and easiest control panels to use in the web hosting industry.
                    //- end
                .box-inner
                    .list.animate.delay-1
                        figure
                            img(data-src="images/pricing-feature-2.svg", alt="" class="lazyload")
                        h3.h3 One-Click Deploys
                        p From Wordpress to WHMCS, our one click solution allows you to easily get a website up and running. 
                    //- end
                .box-inner
                    .list.animate.delay-1
                        figure
                            img(data-src="images/pricing-feature-3.svg", alt="" class="lazyload")
                        h3.h3 Free SSL Certificates
                        p Every website and domain you use will have an SSL certificate auto generated so you can have that green check. 
                    //- end
                .box-inner
                    .list.animate.delay-2
                        figure
                            img(data-src="images/pricing-feature-4.svg", alt="" class="lazyload")
                        h3.h3 LiteSpeed &amp; LSCache
                        p All of our servers run LSCache and LiteSpeed which allow for faster page loads and a better feel overall.
                    //- end
                .box-inner
                    .list.animate.delay-2
                        figure
                            img(data-src="images/pricing-feature-5.svg", alt="" class="lazyload")
                        h3.h3 PHP Versions
                        p You will have the ability to select any PHP version from PHP 5.6 to the newest version PHP 8.0.
                    //- end
                .box-inner
                    .list.animate.delay-2.list--feature
                        .block
                            h3.h3 Have you decided what is best for you?
                            a.link(href="pricing-vps.html") 
                                span See High Performance Ryzen VPS
                                i
                                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6 12.5L10 8.5L6 4.5" stroke="white" stroke-width="2"/>
                                    </svg>
                //- end

development-files/public/pages/pricing/features-cPanel.html

<section class="section-page section-page--features">
  <div class="main-features">
    <div class="container">
      <header class="header-section">
        <h2 class="h2 animate">Features</h2>
        <p class="animate delay-1">Our network and hardware allow you to host without worry. From enterprise hardware to amazing support, we got you covered.</p>
      </header>
      <div class="box-features grid-cols-3" id="featuresPricing">
        <div class="box-inner">
          <div class="list animate">
            <figure><img class="lazyload" data-src="images/pricing-feature-1.svg" alt=""/></figure>
            <h3 class="h3">Control Panel</h3>
            <p>cPanel is one of the most well known and easiest control panels to use in the web hosting industry.</p>
          </div>
        </div>
        <div class="box-inner">
          <div class="list animate delay-1">
            <figure><img class="lazyload" data-src="images/pricing-feature-2.svg" alt=""/></figure>
            <h3 class="h3">One-Click Deploys</h3>
            <p>From Wordpress to WHMCS, our one click solution allows you to easily get a website up and running. </p>
          </div>
        </div>
        <div class="box-inner">
          <div class="list animate delay-1">
            <figure><img class="lazyload" data-src="images/pricing-feature-3.svg" alt=""/></figure>
            <h3 class="h3">Free SSL Certificates</h3>
            <p>Every website and domain you use will have an SSL certificate auto generated so you can have that green check. </p>
          </div>
        </div>
        <div class="box-inner">
          <div class="list animate delay-2">
            <figure><img class="lazyload" data-src="images/pricing-feature-4.svg" alt=""/></figure>
            <h3 class="h3">LiteSpeed &amp; LSCache</h3>
            <p>All of our servers run LSCache and LiteSpeed which allow for faster page loads and a better feel overall.</p>
          </div>
        </div>
        <div class="box-inner">
          <div class="list animate delay-2">
            <figure><img class="lazyload" data-src="images/pricing-feature-5.svg" alt=""/></figure>
            <h3 class="h3">PHP Versions</h3>
            <p>You will have the ability to select any PHP version from PHP 5.6 to the newest version PHP 8.0.</p>
          </div>
        </div>
        <div class="box-inner">
          <div class="list animate delay-2 list--feature">
            <div class="block">
              <h3 class="h3">Have you decided what is best for you?</h3><a class="link" href="pricing-vps.html"> <span>See High Performance Ryzen VPS</span><i><svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12.5L10 8.5L6 4.5" stroke="white" stroke-width="2"/>
</svg></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
