development-files/public/dedicated-server.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="index,nofollow"/>
    <meta name="copyright" content="Copyright © 2020"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="url" content=""/>
    <meta name="author" content=""/>
    <meta name="og:url" content=""/>
    <meta name="og:type" content=""/>
    <meta name="og:title" content=""/>
    <meta name="og:description" content=""/>
    <meta name="og:image" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:site" content=""/>
    <meta name="twitter:description" content=""/>
    <meta name="twitter:url" content=""/>
    <link rel="apple-touch-icon" sizes="57x57" href="images/fav/apple-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="images/fav/apple-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="images/fav/apple-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="images/fav/apple-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="images/fav/apple-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="images/fav/apple-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="images/fav/apple-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="images/fav/apple-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="images/fav/apple-icon-180x180.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="images/fav/android-icon-192x192.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="images/fav/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="images/fav/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="images/fav/favicon-16x16.png"/>
    <link rel="manifest" href="manifest.json"/><meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="images/fav/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet"/>
    <link rel="canonical" href="#"/>
    <link rel="stylesheet" href="css/app.css"/>
    <title>Ignero - Dedicated Server</title>
  </head>
  <body class="homepage">
    <header class="main-global-header">
      <div class="global-header">
        <div class="global-header__logo">
          <div class="logo-header"><a href="index.html"><img src="images/logo.svg" alt="logo ignore"/></a></div>
          <button class="toggle-menu-header" onclick="toggleMenuHeader(this)">
            <div class="icon-open"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="8" y="5" width="12" height="2" fill="white"/>
<rect x="4" y="11" width="16" height="2" fill="white"/>
<rect x="12" y="17" width="8" height="2" fill="white"/>
</svg>
            </div>
            <div class="icon-close"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="7.41418" y="6" width="16" height="2" transform="rotate(45 7.41418 6)" fill="white"/>
<rect x="18.7279" y="7.41418" width="16" height="2" transform="rotate(135 18.7279 7.41418)" fill="white"/>
</svg>
            </div>
          </button>
        </div>
        <div class="global-header__menu">
          <div class="header-menu__nav main-header">
            <ul class="menu">
              <li class="list-menu menu__item" data-sub="products"><a href="#"><span>Products</span><i class="chevron"></i></a></li>
              <li class="list-menu menu__item" data-sub="location"><a href="#"><span>Locations</span><i class="chevron"></i></a></li>
              <li class="list-menu menu__item" data-sub="company-2"><a href="#"><span>Company</span><i class="chevron"></i></a></li>
            </ul>
            <div class="dropdown-holder">
              <div class="dropdown__arrow"></div>
              <div class="dropdown__bg">
                <div class="dropdown__bg-bottom"></div>
              </div>
              <div class="dropdown__wrap">
                <div class="dropdown-menu" id="product" data-sub="products">
                  <div class="dropdown-menu__content">
                    <div class="main-section">
                      <button class="btn-toggle-menu" onclick="toggleSubMenu(this)"><span>Products</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4 6L8 10L12 6" stroke="white" stroke-width="2"/>
</svg></i></button>
                      <div class="submenu"><a class="submenu__list" href="pricing-vps.html">
                          <figure class="submenu-icon"><img src="images/submenu-product.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title"><span>Ryzen Virtual Servers</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                            <p>High performance Ryzen servers</p>
                          </div></a><a class="submenu__list" href="dedicated-server.html">
                          <figure class="submenu-icon"><img src="images/submenu-product.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title"><span>Ryzen Dedicated Servers</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                            <p>Fully Dedicated Ryzen Servers</p>
                          </div></a><a class="submenu__list" href="#">
                          <figure class="submenu-icon"><img src="images/submenu-product.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title"><span>IPv6 Leasing</span><span class="label-soon">Soon</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                            <p>IP Leasing Solutions</p>
                          </div></a></div>
                    </div>
                  </div>
                </div>
                <div class="dropdown-menu" data-sub="company-2">
                  <div class="dropdown-menu__content">
                    <div class="main-section">
                      <button class="btn-toggle-menu" onclick="toggleSubMenu(this)"><span>Company</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4 6L8 10L12 6" stroke="white" stroke-width="2"/>
</svg></i></button>
                      <div class="submenu"><a class="submenu__list centered" href="about.html">
                          <figure class="submenu-icon"><img src="images/company/ico1.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title no-sub"><span>About Us</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                          </div></a><a class="submenu__list centered" href="term.html">
                          <figure class="submenu-icon"><img src="images/company/ico2.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title no-sub"><span>Terms of Service</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                          </div></a><a class="submenu__list centered" href="acceptable.html">
                          <figure class="submenu-icon"><img src="images/company/ico3.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title no-sub"><span>Acceptable Use Policy</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                          </div></a><a class="submenu__list centered" href="privacy.html">
                          <figure class="submenu-icon"><img src="images/company/ico4.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title no-sub"><span>Privacy Policy</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                          </div></a></div>
                    </div>
                  </div>
                </div>
                <div class="dropdown-menu" data-sub="location">
                  <div class="dropdown-menu__content">
                    <div class="main-section">
                      <button class="btn-toggle-menu" onclick="toggleSubMenu(this)"><span>Locations</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4 6L8 10L12 6" stroke="white" stroke-width="2"/>
</svg></i></button>
                      <div class="submenu"><a class="submenu__list" href="los-angeles.html">
                          <figure class="submenu-icon"><img src="images/submenu-location.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title"><span>Los Angeles, CA</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                            <p>445 N Douglas St, El Segundo</p>
                          </div></a><a class="submenu__list" href="#">
                          <figure class="submenu-icon"><img src="images/submenu-location.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title"><span>San Diego, CA</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                            <p>10818 San Diego Mission Rd</p>
                          </div></a><a class="submenu__list" href="#">
                          <figure class="submenu-icon"><img src="images/submenu-location.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title"><span>Las Vegas, CA</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                            <p>7495 Mission Hills Dr</p>
                          </div></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="header-menu__cta"><a class="btn" href="https://my.ignero.com/">Portal</a><a class="btn-default" href="https://my.ignero.com/register.php">Get Started</a></div>
        </div>
      </div>
    </header>
    <main class="main-sections">
      <header class="header-page dedicated-header">
        <h1 class="animate">Premium Ryzen Dedicated Servers</h1>
        <p>Fully dedicated without the dedicated price tag! Various configurations, operating systems, and locations to choose from, all at affordable prices.</p>
      </header>
      <div class="dedicated-inner-content">
        <div class="loc-dropdown"><span>Location</span>
          <div class="drop-head" id="location_drop">
            <div class="title-drop">Los Angeles</div><i class="chevron"></i>
            <div class="drop-body" id="location_drop_body"></div>
          </div>
        </div>
        <div class="lds-ring">
          <div> </div>
          <div> </div>
          <div> </div>
          <div></div>
        </div>
        <div class="product-itm-wrap"> </div>
        <div class="feature-section t-center">
          <h2>Features</h2>
          <p>Our network and hardware allow you to host without worry. From enterprise hardware to amazing support, we got you covered.</p>
          <div class="feature-grid">
            <div class="feature-grid-itm"> <img class="lazyload" data-src="images/new/dedicated_feature1.svg"/>
              <h3>IPMI/KVM Access</h3>
              <p>All of our dedicated servers come with remote IPMI/iKVM (secured via ACL), this allows clients to manage their servers without having to worry about security or support.  </p>
            </div>
            <div class="feature-grid-itm"> <img class="lazyload" data-src="images/new/dedicated_feature2.svg"/>
              <h3>Remote Management</h3>
              <p>Ignero provides an automated solution, this allows you to easily perform your server actions such as power management and KVM through our dedicated server control panel. </p>
            </div>
            <div class="feature-grid-itm"> <img class="lazyload" data-src="images/new/dedicated_feature3.svg"/>
              <h3>Premium Network</h3>
              <p>We provide a blend of multiple Tier-1 transit providers on a 10Gbps (shared) port per server. This gives you access to the fastest possible network. </p>
            </div>
          </div>
        </div>
        <div class="os-section t-center">
          <h2>Supported Operating Systems</h2>
          <div class="os-section-grid"> 
            <div class="os-section-itm"> <img src="images/os1.png"/>
              <div> <span>IPMI/KVM - Install your own OS</span><span>FREE</span></div>
            </div>
            <div class="os-section-itm"> <img src="images/os2.png"/>
              <div> <span>Ubuntu</span><span>FREE</span></div>
            </div>
            <div class="os-section-itm"> <img src="images/os3.png"/>
              <div> <span>CentOS</span><span>FREE</span></div>
            </div>
            <div class="os-section-itm"> <img src="images/os4.png"/>
              <div> <span>Debian</span><span>FREE</span></div>
            </div>
            <div class="os-section-itm"> <img src="images/os5.png"/>
              <div> <span>Windows Server 2016</span><span>BRING YOUR OWN KEY</span></div>
            </div>
            <div class="os-section-itm"> <img src="images/os5.png"/>
              <div> <span>Windows Server 2019</span><span>BRING YOUR OWN KEY</span></div>
            </div>
          </div>
        </div>
        <div class="ddos-section">
          <div class="left-block"> 
            <h2>DDoS Protection</h2>
            <p>Our network is protection with >100Gbps of network capacity. We monitor traffic 24/7 and block both protocol and volume based attacks within 10 seconds without interruption. </p>
            <div class="legend-wrap"> 
              <div class="legend-itm t-center"> <img src="images/ddos-legend1.png"/><span>Various Attacks</span></div>
              <div class="legend-itm t-center"> <img src="images/ddos-legend2.png"/><span>Internal Traffic </span></div>
              <div class="legend-itm t-center"> <img src="images/ddos-legend3.png"/><span>Legitimate Traffic </span></div>
            </div>
          </div><img class="lazyload" data-src="images/new-dedicated-ddos.svg"/>
        </div>
        <div class="ddos-ico-section">
          <div class="ddos-ico-itm"> <img class="lazyload" data-src="images/ddos-ico1.svg"/><span class="t-center">UDP Flood</span></div>
          <div class="ddos-ico-itm"> <img class="lazyload" data-src="images/ddos-ico2.svg"/><span class="t-center">NTP Amplification</span></div>
          <div class="ddos-ico-itm"> <img class="lazyload" data-src="images/ddos-ico3.svg"/><span class="t-center">DNS Amplification</span></div>
          <div class="ddos-ico-itm"> <img class="lazyload" data-src="images/ddos-ico4.svg"/><span class="t-center">ICMP Flood</span></div>
          <div class="ddos-ico-itm"> <img class="lazyload" data-src="images/ddos-ico5.svg"/><span class="t-center">SYN Flood</span></div>
        </div>
        <section class="section-page section-page--automate">
          <div class="container">
            <div class="box-half"><img class="lazyload animate delay-1" data-src="images/automate.png" alt=""/></div>
            <div class="box-half">
              <h2 class="animate delay-2">Automated Server Panel</h2>
              <p class="animate delay-3">Easily manage your dedicated server with our panel. A few features of the panel are OS reloads, power options, secure IPMI and port management; <span>even sub-assigning the dedicated server to your staff can be done with a few clicks! </span></p>
            </div>
          </div>
        </section>
        <div class="faq-section">
          <h2 class="t-center">Frequently Asked Questions</h2>
          <div class="accord-itm"> 
            <div class="accord-head"> <span>What operating systems may I install? </span><i class="chevron"></i></div>
            <div class="accord-body">We provide a wide array of operating systems in which you can install on your server. We also allow clients to install their own operating systems through IPMI.</div>
          </div>
          <div class="accord-itm"> 
            <div class="accord-head"> <span>Are the servers unmanaged? </span><i class="chevron"></i></div>
            <div class="accord-body">Yes, all of our server plans are unmanaged. If you need help please contact our friendly support team for issues regarding network or hardware. </div>
          </div>
          <div class="accord-itm"> 
            <div class="accord-head"> <span>Is Ignero hardware owned or leased? </span><i class="chevron"></i></div>
            <div class="accord-body">Ignero builds, owns and racks all of our hardware by hand. We do not outsource to a third-party, this means that hardware replacement will be speedy and on time. </div>
          </div>
          <div class="accord-itm"> 
            <div class="accord-head"> <span>Where are the servers located? </span><i class="chevron"></i></div>
            <div class="accord-body">Our Ryzen Dedicated Servers are located in Los Angeles. We do plan on expanding to more locations in the future. </div>
          </div>
          <div class="accord-itm"> 
            <div class="accord-head"> <span>How quickly will my server be deployed? </span><i class="chevron"></i></div>
            <div class="accord-body">All dedicated servers will be deployed within 15 minutes of order. If not, please allow up to 48 hours for us to provision the machine. </div>
          </div>
          <div class="accord-itm"> 
            <div class="accord-head"> <span>I don't see the configuration I'm looking for?</span><i class="chevron"></i></div>
            <div class="accord-body">If you are looking for a custom server, please contact our sales department and we can get you a quote within 24 hours.</div>
          </div>
          <div class="accord-itm"> 
            <div class="accord-head"> <span>Does Ignero offer redundancy? </span><i class="chevron"></i></div>
            <div class="accord-body">We offer network and hardware redundancy through multiple upstream providers and UPS'.</div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer-shell">
      <div class="container container--banner">
        <div class="banner-footer animate">
          <div class="banner-footer__content">
            <h2 class="h2">Choose your best plan!</h2>
            <p>Join over 13,000 satisfied customers already using ignero.com and make your content hop.</p>
          </div>
          <div class="banner-footer__cta">
            <div class="action"><a class="btn-white" href="dedicated-server.html">Dedicated Servers</a><a class="btn-default btn-soon" href="contact.html"><span>Contact Us</span></a></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="footer-info animate delay-2">
          <div class="footer-brand"><img src="images/logo.svg" alt=""/>
            <p>Ignero is Los Angeles based company specializing in infrastructure as a service. We've cherry picked our hardware, network and datacenters so our clients could have an amazing experience.</p>
            <nav> <span>Sales Department: </span><a href="mailto:sales@ignero.com"> sales@ignero.com</a><span>Support Department:</span><a href="mailto:support@ignero.com"> support@ignero.com</a><span>Phone:</span><a href="tell:12026437712">+1 (202) 643-7712</a></nav>
          </div>
          <div class="footer-menu">
            <h3>Sitemap</h3>
            <nav><a href="">Products</a><a href="">Features</a><a href="">Pricing</a><a href="about.html">About us</a><a href="contact.html">Contact us</a></nav>
          </div>
          <div class="footer-menu">
            <h3>Products</h3>
            <nav><a href="pricing-vps.html">Ryzen VPS</a><a href="dedicated-server.html">Dedicated Servers</a><a href="">Coming Soon</a></nav>
          </div>
          <div class="footer-menu">
            <h3>Features</h3>
            <nav><a href="">Control Panel</a><a href="">IPMI/KVM Access</a><a href="">DDoS Protection</a><a href="">Ryzen Performance</a><a href="">Fast Network</a></nav>
          </div>
          <div class="footer-menu">
            <h3>Company</h3>
            <nav><a href="privacy.html">Privacy &amp; Policy</a><a href="term.html">Terms of Services</a><a href="acceptable.html">Acceptable Use</a><a href="about.html">About Us</a></nav>
          </div>
        </div>
        <div class="footer-note">
          <p>Copyright © 2021 Ignero Hosting. All Rights Reserved.</p>
          <nav><a href="https://twitter.com/IgneroHosting">Twitter</a><a href="https://www.trustpilot.com/review/ignero.com">TrustPilot</a></nav>
        </div>
      </div>
    </footer>
    <script src="js/app.js"></script>
    <script src="js/lazysizes.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/dedicated-server.js"></script>
  </body>
</html>

development-files/src/views/dedicated-server.pug
<!DOCTYPE html>
html(lang="en")
    head
        include components/shell/head.pug
        title Ignero - Dedicated Server
    body.homepage
        - const pageName = 'Dedicated Server'
        - var locationData = ["Los Angeles","New York"]
        include components/shell/navigation.pug
        main.main-sections
            //- header section
            header.header-page.dedicated-header
                h1.animate Premium Ryzen Dedicated Servers
                p Fully dedicated without the dedicated price tag! Various configurations, operating systems, and locations to choose from, all at affordable prices.
            .dedicated-inner-content
                .loc-dropdown
                    span Location
                    .drop-head#location_drop
                        .title-drop Los Angeles
                        i.chevron
                        .drop-body#location_drop_body
                            //- each val in locationData
                            //-     a= val 

                include components/spiner.pug

                .product-itm-wrap 
                    //- each val in product
                        //- .product-itm
                        //-     .top-block
                        //-         .txt-wrap 
                        //-             .small Name
                        //-             .big= val.name
                        //-         .txt-wrap 
                        //-             .small Starting from
                        //-             .txt-inner-wrap
                        //-                 .inner-big= val.price
                        //-                 .inner-small Monthly
                        //-         .txt-wrap 
                        //-             .small Availability
                        //-             .big= val.available
                        //-         .txt-wrap 
                        //-             .small Setup Time
                        //-             .txt-inner-wrap
                        //-                 img(src="images/clock.svg")
                        //-                 if val.available > 0
                        //-                     .inner-big= val.setup
                        //-                 else 
                        //-                     .inner-big 0
                        //-                 .inner-small Mins
                        //-         if val.available > 0
                        //-             button.btn-primary Order Now
                        //-         else
                        //-             button.not-avail(disabled="true") Order Now
                        //-     .btm-block 
                        //-         .txt-wrap 
                        //-             .small CPU
                        //-             .small= val.cpu
                        //-         .txt-wrap 
                        //-             .small RAM
                        //-             .small= val.ram
                        //-         .txt-wrap 
                        //-             .small Storage
                        //-             .small= val.storage
                        //-         .txt-wrap 
                        //-             .small IPv4
                        //-             .small= val.ipv4
                        //-         .txt-wrap 
                        //-             .small IPv6
                        //-             .small= val.ipv6
                        //-         .txt-wrap 
                        //-             .small Bandwidth
                        //-             .small= val.bandwidth
                        //-         .txt-wrap 
                        //-             .small IPMI & Panel Access
                        //-             .small= val.ipmi
                
                .feature-section.t-center
                    h2 Features
                    p Our network and hardware allow you to host without worry. From enterprise hardware to amazing support, we got you covered.
                    .feature-grid
                        .feature-grid-itm 
                            img.lazyload(data-src="images/new/dedicated_feature1.svg")
                            h3 IPMI/KVM Access
                            p All of our dedicated servers come with remote IPMI/iKVM (secured via ACL), this allows clients to manage their servers without having to worry about security or support.  
                        .feature-grid-itm 
                            img.lazyload(data-src="images/new/dedicated_feature2.svg")
                            h3 Remote Management
                            p Ignero provides an automated solution, this allows you to easily perform your server actions such as power management and KVM through our dedicated server control panel. 
                        .feature-grid-itm 
                            img.lazyload(data-src="images/new/dedicated_feature3.svg")
                            h3 Premium Network
                            p We provide a blend of multiple Tier-1 transit providers on a 10Gbps (shared) port per server. This gives you access to the fastest possible network. 

                .os-section.t-center
                    h2 Supported Operating Systems
                    .os-section-grid 
                        .os-section-itm 
                            img(src="images/os1.png")
                            div 
                                span IPMI/KVM - Install your own OS
                                span FREE
                        .os-section-itm 
                            img(src="images/os2.png")
                            div 
                                span Ubuntu
                                span FREE
                        .os-section-itm 
                            img(src="images/os3.png")
                            div 
                                span CentOS
                                span FREE
                        .os-section-itm 
                            img(src="images/os4.png")
                            div 
                                span Debian
                                span FREE
                        .os-section-itm 
                            img(src="images/os5.png")
                            div 
                                span Windows Server 2016
                                span BRING YOUR OWN KEY
                        .os-section-itm 
                            img(src="images/os5.png")
                            div 
                                span Windows Server 2019
                                span BRING YOUR OWN KEY

                .ddos-section
                    .left-block 
                        h2 DDoS Protection
                        p Our network is protection with >100Gbps of network capacity. We monitor traffic 24/7 and block both protocol and volume based attacks within 10 seconds without interruption. 
                        .legend-wrap 
                            .legend-itm.t-center 
                                img(src="images/ddos-legend1.png")
                                span Various Attacks
                            .legend-itm.t-center 
                                img(src="images/ddos-legend2.png")
                                span Internal Traffic 
                            .legend-itm.t-center 
                                img(src="images/ddos-legend3.png")
                                span Legitimate Traffic 
                    img.lazyload(data-src="images/new-dedicated-ddos.svg")

                .ddos-ico-section
                    .ddos-ico-itm 
                        img.lazyload(data-src="images/ddos-ico1.svg")
                        span.t-center UDP Flood
                    .ddos-ico-itm 
                        img.lazyload(data-src="images/ddos-ico2.svg")
                        span.t-center NTP Amplification
                    .ddos-ico-itm 
                        img.lazyload(data-src="images/ddos-ico3.svg")
                        span.t-center DNS Amplification
                    .ddos-ico-itm 
                        img.lazyload(data-src="images/ddos-ico4.svg")
                        span.t-center ICMP Flood
                    .ddos-ico-itm 
                        img.lazyload(data-src="images/ddos-ico5.svg")
                        span.t-center SYN Flood

                include components/shell/automate-panel.pug


                .faq-section
                    h2.t-center Frequently Asked Questions
                    .accord-itm 
                        .accord-head 
                            span What operating systems may I install? 
                            i.chevron
                        .accord-body We provide a wide array of operating systems in which you can install on your server. We also allow clients to install their own operating systems through IPMI.
                    .accord-itm 
                        .accord-head 
                            span Are the servers unmanaged? 
                            i.chevron
                        .accord-body Yes, all of our server plans are unmanaged. If you need help please contact our friendly support team for issues regarding network or hardware. 
                    .accord-itm 
                        .accord-head 
                            span Is Ignero hardware owned or leased? 
                            i.chevron
                        .accord-body Ignero builds, owns and racks all of our hardware by hand. We do not outsource to a third-party, this means that hardware replacement will be speedy and on time. 
                    .accord-itm 
                        .accord-head 
                            span Where are the servers located? 
                            i.chevron
                        .accord-body Our Ryzen Dedicated Servers are located in Los Angeles. We do plan on expanding to more locations in the future. 
                    .accord-itm 
                        .accord-head 
                            span How quickly will my server be deployed? 
                            i.chevron
                        .accord-body All dedicated servers will be deployed within 15 minutes of order. If not, please allow up to 48 hours for us to provision the machine. 
                    .accord-itm 
                        .accord-head 
                            span I don't see the configuration I'm looking for?
                            i.chevron
                        .accord-body If you are looking for a custom server, please contact our sales department and we can get you a quote within 24 hours.
                    .accord-itm 
                        .accord-head 
                            span Does Ignero offer redundancy? 
                            i.chevron
                        .accord-body We offer network and hardware redundancy through multiple upstream providers and UPS'.


        //- global footer
        include components/shell/footer.pug

        script(src="js/app.js")
        script(src="js/lazysizes.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src="js/dedicated-server.js")
