development-files/src/views/los-angeles.pug
<!DOCTYPE html>
html(lang="en")
    head
        include components/shell/head.pug
        title Ignero - Location
    body.homepage
        - const pageName = 'Location'
        include components/shell/navigation.pug
        main.main-sections
            //- header section
            header.header-page
                h1.animate Location: Los Angeles
                p.animate.delay-1 Security, reliability and performance designed to meet your business needs.

            section.section-page.section-page--marker
                .container
                    .box-location
                        //- img(src="images/maps.png", alt="")
                        picture
                            source(media="(min-width:1024px)" data-srcset="images/maps.png")
                            img.lazyload(data-src="images/maps-mobile.png" alt="map")
                        .box-marker
                            img.lazyload(data-src="images/marker-location.svg", alt="")
                            .popup-marker
                                img.lazyload(data-src="images/logo-ignero-black.svg", alt="")
                                strong Los Angeles
                                p 445 N Douglas St, El Segundo, CA, US, 90245
                        .test-speed
                            .test-speed__label
                                strong LA Speed Test
                                span 162.251.166.39
                            .test-speed__cta
                                button.btn-primary Test Network

            section.section-page.section-page--location
                .container
                    p.box-small.animate We have chosen Equinix LA4 as our Los Angeles location not just because of the location but because of the routes they're able to provide. This location offers the fastest TransPacific routing possible with direct connections to AWS, Microsoft Azure, Google Cloud, and many other service providers making this datacenter the best choice for content delivery and low latency.
                    .box-location
                        .box-location__list.animate.delay-1
                            .wrapper
                                h3 Power Redundancy
                                p N+1
                                .divider
                                h3 Cooling Redundancy
                                p N+1
                        .box-location__list.animate.delay-2
                            .wrapper
                                h3 Certifications
                                p SOC 1 Type II
                                p SOC 2 Type II
                                p ISO 27001
                                p NIST 800-53/FI
                                p PCI DSS
                                p HIPAA

                        .box-location__list.animate.delay-3
                            .wrapper
                                h3 Address
                                p 445 N Douglas St,<br> El Segundo, <br> CA, US, 90245




        //- global footer
        include components/shell/footer.pug

        script(src="js/app.js")
        script(src="js/lazysizes.min.js")

development-files/public/los-angeles.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="index,nofollow"/>
    <meta name="copyright" content="Copyright © 2020"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="url" content=""/>
    <meta name="author" content=""/>
    <meta name="og:url" content=""/>
    <meta name="og:type" content=""/>
    <meta name="og:title" content=""/>
    <meta name="og:description" content=""/>
    <meta name="og:image" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:site" content=""/>
    <meta name="twitter:description" content=""/>
    <meta name="twitter:url" content=""/>
    <link rel="apple-touch-icon" sizes="57x57" href="images/fav/apple-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="images/fav/apple-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="images/fav/apple-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="images/fav/apple-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="images/fav/apple-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="images/fav/apple-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="images/fav/apple-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="images/fav/apple-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="images/fav/apple-icon-180x180.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="images/fav/android-icon-192x192.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="images/fav/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="images/fav/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="images/fav/favicon-16x16.png"/>
    <link rel="manifest" href="manifest.json"/><meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="images/fav/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet"/>
    <link rel="canonical" href="#"/>
    <link rel="stylesheet" href="css/app.css"/>
    <title>Ignero - Location</title>
  </head>
  <body class="homepage">
    <header class="main-global-header">
      <div class="global-header">
        <div class="global-header__logo">
          <div class="logo-header"><a href="index.html"><img src="images/logo.svg" alt="logo ignore"/></a></div>
          <button class="toggle-menu-header" onclick="toggleMenuHeader(this)">
            <div class="icon-open"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="8" y="5" width="12" height="2" fill="white"/>
<rect x="4" y="11" width="16" height="2" fill="white"/>
<rect x="12" y="17" width="8" height="2" fill="white"/>
</svg>
            </div>
            <div class="icon-close"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="7.41418" y="6" width="16" height="2" transform="rotate(45 7.41418 6)" fill="white"/>
<rect x="18.7279" y="7.41418" width="16" height="2" transform="rotate(135 18.7279 7.41418)" fill="white"/>
</svg>
            </div>
          </button>
        </div>
        <div class="global-header__menu">
          <div class="header-menu__nav main-header">
            <ul class="menu">
              <li class="list-menu menu__item" data-sub="products"><a href="#"><span>Products</span><i class="chevron"></i></a></li>
              <li class="list-menu menu__item" data-sub="location"><a href="#"><span>Locations</span><i class="chevron"></i></a></li>
              <li class="list-menu menu__item" data-sub="company-2"><a href="#"><span>Company</span><i class="chevron"></i></a></li>
            </ul>
            <div class="dropdown-holder">
              <div class="dropdown__arrow"></div>
              <div class="dropdown__bg">
                <div class="dropdown__bg-bottom"></div>
              </div>
              <div class="dropdown__wrap">
                <div class="dropdown-menu" id="product" data-sub="products">
                  <div class="dropdown-menu__content">
                    <div class="main-section">
                      <button class="btn-toggle-menu" onclick="toggleSubMenu(this)"><span>Products</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4 6L8 10L12 6" stroke="white" stroke-width="2"/>
</svg></i></button>
                      <div class="submenu"><a class="submenu__list" href="pricing-vps.html">
                          <figure class="submenu-icon"><img src="images/submenu-product.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title"><span>Ryzen Virtual Servers</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                            <p>High performance Ryzen servers</p>
                          </div></a><a class="submenu__list" href="dedicated-server.html">
                          <figure class="submenu-icon"><img src="images/submenu-product.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title"><span>Ryzen Dedicated Servers</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                            <p>Fully Dedicated Ryzen Servers</p>
                          </div></a><a class="submenu__list" href="#">
                          <figure class="submenu-icon"><img src="images/submenu-product.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title"><span>IPv6 Leasing</span><span class="label-soon">Soon</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                            <p>IP Leasing Solutions</p>
                          </div></a></div>
                    </div>
                  </div>
                </div>
                <div class="dropdown-menu" data-sub="company-2">
                  <div class="dropdown-menu__content">
                    <div class="main-section">
                      <button class="btn-toggle-menu" onclick="toggleSubMenu(this)"><span>Company</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4 6L8 10L12 6" stroke="white" stroke-width="2"/>
</svg></i></button>
                      <div class="submenu"><a class="submenu__list centered" href="about.html">
                          <figure class="submenu-icon"><img src="images/company/ico1.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title no-sub"><span>About Us</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                          </div></a><a class="submenu__list centered" href="term.html">
                          <figure class="submenu-icon"><img src="images/company/ico2.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title no-sub"><span>Terms of Service</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                          </div></a><a class="submenu__list centered" href="acceptable.html">
                          <figure class="submenu-icon"><img src="images/company/ico3.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title no-sub"><span>Acceptable Use Policy</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                          </div></a><a class="submenu__list centered" href="privacy.html">
                          <figure class="submenu-icon"><img src="images/company/ico4.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title no-sub"><span>Privacy Policy</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                          </div></a></div>
                    </div>
                  </div>
                </div>
                <div class="dropdown-menu" data-sub="location">
                  <div class="dropdown-menu__content">
                    <div class="main-section">
                      <button class="btn-toggle-menu" onclick="toggleSubMenu(this)"><span>Locations</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4 6L8 10L12 6" stroke="white" stroke-width="2"/>
</svg></i></button>
                      <div class="submenu"><a class="submenu__list" href="los-angeles.html">
                          <figure class="submenu-icon"><img src="images/submenu-location.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title"><span>Los Angeles, CA</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                            <p>445 N Douglas St, El Segundo</p>
                          </div></a><a class="submenu__list" href="#">
                          <figure class="submenu-icon"><img src="images/submenu-location.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title"><span>San Diego, CA</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                            <p>10818 San Diego Mission Rd</p>
                          </div></a><a class="submenu__list" href="#">
                          <figure class="submenu-icon"><img src="images/submenu-location.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title"><span>Las Vegas, CA</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                            <p>7495 Mission Hills Dr</p>
                          </div></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="header-menu__cta"><a class="btn" href="https://my.ignero.com/">Portal</a><a class="btn-default" href="https://my.ignero.com/register.php">Get Started</a></div>
        </div>
      </div>
    </header>
    <main class="main-sections">
      <header class="header-page">
        <h1 class="animate">Location: Los Angeles</h1>
        <p class="animate delay-1">Security, reliability and performance designed to meet your business needs.</p>
      </header>
      <section class="section-page section-page--marker">
        <div class="container">
          <div class="box-location">
            <picture>
              <source media="(min-width:1024px)" data-srcset="images/maps.png"/><img class="lazyload" data-src="images/maps-mobile.png" alt="map"/>
            </picture>
            <div class="box-marker"><img class="lazyload" data-src="images/marker-location.svg" alt=""/>
              <div class="popup-marker"><img class="lazyload" data-src="images/logo-ignero-black.svg" alt=""/><strong>Los Angeles</strong>
                <p>445 N Douglas St, El Segundo, CA, US, 90245</p>
              </div>
            </div>
            <div class="test-speed">
              <div class="test-speed__label"><strong>LA Speed Test</strong><span>162.251.166.39</span></div>
              <div class="test-speed__cta">
                <button class="btn-primary">Test Network</button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-page section-page--location">
        <div class="container">
          <p class="box-small animate">We have chosen Equinix LA4 as our Los Angeles location not just because of the location but because of the routes they're able to provide. This location offers the fastest TransPacific routing possible with direct connections to AWS, Microsoft Azure, Google Cloud, and many other service providers making this datacenter the best choice for content delivery and low latency.</p>
          <div class="box-location">
            <div class="box-location__list animate delay-1">
              <div class="wrapper">
                <h3>Power Redundancy</h3>
                <p>N+1</p>
                <div class="divider"></div>
                <h3>Cooling Redundancy</h3>
                <p>N+1</p>
              </div>
            </div>
            <div class="box-location__list animate delay-2">
              <div class="wrapper">
                <h3>Certifications</h3>
                <p>SOC 1 Type II</p>
                <p>SOC 2 Type II</p>
                <p>ISO 27001</p>
                <p>NIST 800-53/FI</p>
                <p>PCI DSS</p>
                <p>HIPAA</p>
              </div>
            </div>
            <div class="box-location__list animate delay-3">
              <div class="wrapper">
                <h3>Address</h3>
                <p>445 N Douglas St,<br> El Segundo, <br> CA, US, 90245</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer-shell">
      <div class="container container--banner">
        <div class="banner-footer animate">
          <div class="banner-footer__content">
            <h2 class="h2">Choose your best plan!</h2>
            <p>Join over 13,000 satisfied customers already using ignero.com and make your content hop.</p>
          </div>
          <div class="banner-footer__cta">
            <div class="action"><a class="btn-white" href="dedicated-server.html">Dedicated Servers</a><a class="btn-default btn-soon" href="contact.html"><span>Contact Us</span></a></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="footer-info animate delay-2">
          <div class="footer-brand"><img src="images/logo.svg" alt=""/>
            <p>Ignero is Los Angeles based company specializing in infrastructure as a service. We've cherry picked our hardware, network and datacenters so our clients could have an amazing experience.</p>
            <nav> <span>Sales Department: </span><a href="mailto:sales@ignero.com"> sales@ignero.com</a><span>Support Department:</span><a href="mailto:support@ignero.com"> support@ignero.com</a><span>Phone:</span><a href="tell:12026437712">+1 (202) 643-7712</a></nav>
          </div>
          <div class="footer-menu">
            <h3>Sitemap</h3>
            <nav><a href="">Products</a><a href="">Features</a><a href="">Pricing</a><a href="about.html">About us</a><a href="contact.html">Contact us</a></nav>
          </div>
          <div class="footer-menu">
            <h3>Products</h3>
            <nav><a href="pricing-vps.html">Ryzen VPS</a><a href="dedicated-server.html">Dedicated Servers</a><a href="">Coming Soon</a></nav>
          </div>
          <div class="footer-menu">
            <h3>Features</h3>
            <nav><a href="">Control Panel</a><a href="">IPMI/KVM Access</a><a href="">DDoS Protection</a><a href="">Ryzen Performance</a><a href="">Fast Network</a></nav>
          </div>
          <div class="footer-menu">
            <h3>Company</h3>
            <nav><a href="privacy.html">Privacy &amp; Policy</a><a href="term.html">Terms of Services</a><a href="acceptable.html">Acceptable Use</a><a href="about.html">About Us</a></nav>
          </div>
        </div>
        <div class="footer-note">
          <p>Copyright © 2021 Ignero Hosting. All Rights Reserved.</p>
          <nav><a href="https://twitter.com/IgneroHosting">Twitter</a><a href="https://www.trustpilot.com/review/ignero.com">TrustPilot</a></nav>
        </div>
      </div>
    </footer>
    <script src="js/app.js"></script>
    <script src="js/lazysizes.min.js"></script>
  </body>
</html>
