development-files/public/privacy.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="index,nofollow"/>
    <meta name="copyright" content="Copyright © 2020"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="url" content=""/>
    <meta name="author" content=""/>
    <meta name="og:url" content=""/>
    <meta name="og:type" content=""/>
    <meta name="og:title" content=""/>
    <meta name="og:description" content=""/>
    <meta name="og:image" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:site" content=""/>
    <meta name="twitter:description" content=""/>
    <meta name="twitter:url" content=""/>
    <link rel="apple-touch-icon" sizes="57x57" href="images/fav/apple-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="images/fav/apple-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="images/fav/apple-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="images/fav/apple-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="images/fav/apple-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="images/fav/apple-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="images/fav/apple-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="images/fav/apple-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="images/fav/apple-icon-180x180.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="images/fav/android-icon-192x192.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="images/fav/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="images/fav/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="images/fav/favicon-16x16.png"/>
    <link rel="manifest" href="manifest.json"/><meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="images/fav/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet"/>
    <link rel="canonical" href="#"/>
    <link rel="stylesheet" href="css/app.css"/>
    <title>Ignero - Privacy Policy</title>
  </head>
  <body class="homepage">
    <header class="main-global-header">
      <div class="global-header">
        <div class="global-header__logo">
          <div class="logo-header"><a href="index.html"><img src="images/logo.svg" alt="logo ignore"/></a></div>
          <button class="toggle-menu-header" onclick="toggleMenuHeader(this)">
            <div class="icon-open"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="8" y="5" width="12" height="2" fill="white"/>
<rect x="4" y="11" width="16" height="2" fill="white"/>
<rect x="12" y="17" width="8" height="2" fill="white"/>
</svg>
            </div>
            <div class="icon-close"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="7.41418" y="6" width="16" height="2" transform="rotate(45 7.41418 6)" fill="white"/>
<rect x="18.7279" y="7.41418" width="16" height="2" transform="rotate(135 18.7279 7.41418)" fill="white"/>
</svg>
            </div>
          </button>
        </div>
        <div class="global-header__menu">
          <div class="header-menu__nav main-header">
            <ul class="menu">
              <li class="list-menu menu__item" data-sub="products"><a href="#"><span>Products</span><i class="chevron"></i></a></li>
              <li class="list-menu menu__item" data-sub="location"><a href="#"><span>Locations</span><i class="chevron"></i></a></li>
              <li class="list-menu menu__item" data-sub="company-2"><a href="#"><span>Company</span><i class="chevron"></i></a></li>
            </ul>
            <div class="dropdown-holder">
              <div class="dropdown__arrow"></div>
              <div class="dropdown__bg">
                <div class="dropdown__bg-bottom"></div>
              </div>
              <div class="dropdown__wrap">
                <div class="dropdown-menu" id="product" data-sub="products">
                  <div class="dropdown-menu__content">
                    <div class="main-section">
                      <button class="btn-toggle-menu" onclick="toggleSubMenu(this)"><span>Products</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4 6L8 10L12 6" stroke="white" stroke-width="2"/>
</svg></i></button>
                      <div class="submenu"><a class="submenu__list" href="pricing-vps.html">
                          <figure class="submenu-icon"><img src="images/submenu-product.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title"><span>Ryzen Virtual Servers</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                            <p>High performance Ryzen servers</p>
                          </div></a><a class="submenu__list" href="dedicated-server.html">
                          <figure class="submenu-icon"><img src="images/submenu-product.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title"><span>Ryzen Dedicated Servers</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                            <p>Fully Dedicated Ryzen Servers</p>
                          </div></a><a class="submenu__list" href="#">
                          <figure class="submenu-icon"><img src="images/submenu-product.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title"><span>IPv6 Leasing</span><span class="label-soon">Soon</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                            <p>IP Leasing Solutions</p>
                          </div></a></div>
                    </div>
                  </div>
                </div>
                <div class="dropdown-menu" data-sub="company-2">
                  <div class="dropdown-menu__content">
                    <div class="main-section">
                      <button class="btn-toggle-menu" onclick="toggleSubMenu(this)"><span>Company</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4 6L8 10L12 6" stroke="white" stroke-width="2"/>
</svg></i></button>
                      <div class="submenu"><a class="submenu__list centered" href="about.html">
                          <figure class="submenu-icon"><img src="images/company/ico1.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title no-sub"><span>About Us</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                          </div></a><a class="submenu__list centered" href="term.html">
                          <figure class="submenu-icon"><img src="images/company/ico2.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title no-sub"><span>Terms of Service</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                          </div></a><a class="submenu__list centered" href="acceptable.html">
                          <figure class="submenu-icon"><img src="images/company/ico3.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title no-sub"><span>Acceptable Use Policy</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                          </div></a><a class="submenu__list centered" href="privacy.html">
                          <figure class="submenu-icon"><img src="images/company/ico4.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title no-sub"><span>Privacy Policy</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                          </div></a></div>
                    </div>
                  </div>
                </div>
                <div class="dropdown-menu" data-sub="location">
                  <div class="dropdown-menu__content">
                    <div class="main-section">
                      <button class="btn-toggle-menu" onclick="toggleSubMenu(this)"><span>Locations</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4 6L8 10L12 6" stroke="white" stroke-width="2"/>
</svg></i></button>
                      <div class="submenu"><a class="submenu__list" href="los-angeles.html">
                          <figure class="submenu-icon"><img src="images/submenu-location.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title"><span>Los Angeles, CA</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                            <p>445 N Douglas St, El Segundo</p>
                          </div></a><a class="submenu__list" href="#">
                          <figure class="submenu-icon"><img src="images/submenu-location.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title"><span>San Diego, CA</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                            <p>10818 San Diego Mission Rd</p>
                          </div></a><a class="submenu__list" href="#">
                          <figure class="submenu-icon"><img src="images/submenu-location.svg" alt=""/></figure>
                          <div class="submenu-content">
                            <div class="content-title"><span>Las Vegas, CA</span><i class="icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 12L10 8L6 4" stroke="white" stroke-width="2"/>
</svg></i></div>
                            <p>7495 Mission Hills Dr</p>
                          </div></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="header-menu__cta"><a class="btn" href="https://my.ignero.com/">Portal</a><a class="btn-default" href="https://my.ignero.com/register.php">Get Started</a></div>
        </div>
      </div>
    </header>
    <main class="main-sections">
      <header class="header-page">
        <h1 class="animate">Privacy Policy</h1>
      </header>
      <div class="privacy-inner-content">
        <div class="date-label t-left">Last updated 27 June 2021</div>
        <p class="t-left">Thank you for choosing to be part of our community at Ignero Corp. ("Company", "we", "us", "our"). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about this privacy notice, or our practices with regards to your personal information, please contact us at support@zesty.solutions.</p>
        <p class="t-left">When you visit our website https://ignero.com (the "Website"), and more generally, use any of our services (the "Services", which include the Website), we appreciate that you are trusting us with your personal information. We take your privacy very seriously. In this privacy notice, we seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy notice that you do not agree with, please discontinue use of our Services immediately.</p>
        <p class="t-left">This privacy notice applies to all information collected through our Services (which, as described above, includes our Website), as well as, any related services, sales, marketing or events.</p>
        <p class="t-left">Please read this privacy notice carefully as it will help you understand what we do with the information that we collect.</p>
        <p>
          <div class="t-left">TABLE OF CONTENTS</div>
          <ul class="styled-list list-decimal">
            <li class="t-left">WHAT INFORMATION DO WE COLLECT?</li>
            <li class="t-left">HOW DO WE USE YOUR INFORMATION?</li>
            <li class="t-left">WILL YOUR INFORMATION BE SHARED WITH ANYONE?</li>
            <li class="t-left">DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</li>
            <li class="t-left">HOW DO WE HANDLE YOUR SOCIAL LOGINS?</li>
            <li class="t-left">HOW LONG DO WE KEEP YOUR INFORMATION?</li>
            <li class="t-left">HOW DO WE KEEP YOUR INFORMATION SAFE?</li>
            <li class="t-left">WHAT ARE YOUR PRIVACY RIGHTS?</li>
            <li class="t-left">CONTROLS FOR DO-NOT-TRACK FEATURES</li>
            <li class="t-left">DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?</li>
            <li class="t-left">DO WE MAKE UPDATES TO THIS NOTICE?</li>
            <li class="t-left">HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</li>
            <li class="t-left">HOW CAN YOU REVIEW, UPDATE OR DELETE THE DATA WE COLLECT FROM YOU?</li>
            <li class="t-left">WHAT INFORMATION DO WE COLLECT?</li>
          </ul>
        </p>
        <p> 
          <h3 class="t-left">Personal information you disclose to us</h3>
          <div class="t-left">In Short: We collect personal information that you provide to us.</div>
        </p>
        <p class="t-left">We collect personal information that you voluntarily provide to us when you register on the Website, express an interest in obtaining information about us or our products and Services, when you participate in activities on the Website (such as by posting messages in our online forums or entering competitions, contests or giveaways) or otherwise when you contact us.</p>
        <p class="t-left"> 
          <The>personal information that we collect depends on the context of your interactions with us and the Website, the choices you make and the products and features you use. The personal information we collect may include the following:</The>
          <ul class="styled-list"> 
            <li class="t-left">Personal Information Provided by You. We collect names; phone numbers; email addresses; mailing addresses; usernames; billing addresses; debit/credit card numbers; contact or authentication data; contact preferences; passwords; and other similar information.</li>
            <li class="t-left">Payment Data. We may collect data necessary to process your payment if you make purchases, such as your payment instrument number (such as a credit card number), and the security code associated with your payment instrument. All payment data is stored by Stripe. You may find their privacy notice link(s) here: https://stripe.com/privacy.</li>
            <li class="t-left">Social Media Login Data. We may provide you with the option to register with us using your existing social media account details, like your Facebook, Twitter or other social media account. If you choose to register in this way, we will collect the information described in the section called "HOW DO WE HANDLE YOUR SOCIAL LOGINS" below.</li>
          </ul>
        </p>
        <p class="t-left">All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information.</p>
        <p>
          <h3 class="t-left">Information automatically collected</h3>
          <div class="t-left">In Short: Some information — such as your Internet Protocol (IP) address and/or browser and device characteristics — is collected automatically when you visit our Website.</div>
        </p>
        <p class="t-left">We automatically collect certain information when you visit, use or navigate the Website. This information does not reveal your specific identity (like your name or contact information) but may include device and usage information, such as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about how and when you use our Website and other technical information. This information is primarily needed to maintain the security and operation of our Website, and for our internal analytics and reporting purposes.</p>
        <p class="t-left">Like many businesses, we also collect information through cookies and similar technologies.</p>
        <p class="t-left">The information we collect includes: Log and Usage Data. Log and usage data is service-related, diagnostic, usage and performance information our servers automatically collect when you access or use our Website and which we record in log files. Depending on how you interact with us, this log data may include your IP address, device information, browser type and settings and information about your activity in the Website (such as the date/time stamps associated with your usage, pages and files viewed, searches and other actions you take such as which features you use), device event information (such as system activity, error reports (sometimes called 'crash dumps') and hardware settings). Device Data. We collect device data such as information about your computer, phone, tablet or other device you use to access the Website. Depending on the device used, this device data may include information such as your IP address (or proxy server), device and application identification numbers, location, browser type, hardware model Internet service provider and/or mobile carrier, operating system and system configuration information. Location Data. We collect location data such as information about your device's location, which can be either precise or imprecise. How much information we collect depends on the type and settings of the device you use to access the Website. For example, we may use GPS and other technologies to collect geolocation data that tells us your current location (based on your IP address). You can opt out of allowing us to collect this information either by refusing access to the information or by disabling your Location setting on your device. Note however, if you choose to opt out, you may not be able to use certain aspects of the Services.</p>
      </div>
    </main>
    <footer class="footer-shell">
      <div class="container container--banner">
        <div class="banner-footer animate">
          <div class="banner-footer__content">
            <h2 class="h2">Choose your best plan!</h2>
            <p>Join over 13,000 satisfied customers already using ignero.com and make your content hop.</p>
          </div>
          <div class="banner-footer__cta">
            <div class="action"><a class="btn-white" href="dedicated-server.html">Dedicated Servers</a><a class="btn-default btn-soon" href="contact.html"><span>Contact Us</span></a></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="footer-info animate delay-2">
          <div class="footer-brand"><img src="images/logo.svg" alt=""/>
            <p>Ignero is Los Angeles based company specializing in infrastructure as a service. We've cherry picked our hardware, network and datacenters so our clients could have an amazing experience.</p>
            <nav> <span>Sales Department: </span><a href="mailto:sales@ignero.com"> sales@ignero.com</a><span>Support Department:</span><a href="mailto:support@ignero.com"> support@ignero.com</a><span>Phone:</span><a href="tell:12026437712">+1 (202) 643-7712</a></nav>
          </div>
          <div class="footer-menu">
            <h3>Sitemap</h3>
            <nav><a href="">Products</a><a href="">Features</a><a href="">Pricing</a><a href="about.html">About us</a><a href="contact.html">Contact us</a></nav>
          </div>
          <div class="footer-menu">
            <h3>Products</h3>
            <nav><a href="pricing-vps.html">Ryzen VPS</a><a href="dedicated-server.html">Dedicated Servers</a><a href="">Coming Soon</a></nav>
          </div>
          <div class="footer-menu">
            <h3>Features</h3>
            <nav><a href="">Control Panel</a><a href="">IPMI/KVM Access</a><a href="">DDoS Protection</a><a href="">Ryzen Performance</a><a href="">Fast Network</a></nav>
          </div>
          <div class="footer-menu">
            <h3>Company</h3>
            <nav><a href="privacy.html">Privacy &amp; Policy</a><a href="term.html">Terms of Services</a><a href="acceptable.html">Acceptable Use</a><a href="about.html">About Us</a></nav>
          </div>
        </div>
        <div class="footer-note">
          <p>Copyright © 2021 Ignero Hosting. All Rights Reserved.</p>
          <nav><a href="https://twitter.com/IgneroHosting">Twitter</a><a href="https://www.trustpilot.com/review/ignero.com">TrustPilot</a></nav>
        </div>
      </div>
    </footer>
    <script src="js/app.js"></script>
    <script src="js/lazysizes.min.js"></script>
  </body>
</html>

development-files/src/views/privacy.pug
<!DOCTYPE html>
html(lang="en")
    head
        include components/shell/head.pug
        title Ignero - Privacy Policy
    body.homepage
        - const pageName = 'Privacy Policy'
        include components/shell/navigation.pug
        main.main-sections
            //- header section
            header.header-page
                h1.animate Privacy Policy
            .privacy-inner-content
                .date-label.t-left Last updated 27 June 2021
                p.t-left Thank you for choosing to be part of our community at Ignero Corp. ("Company", "we", "us", "our"). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about this privacy notice, or our practices with regards to your personal information, please contact us at support@zesty.solutions.
                p.t-left When you visit our website https://ignero.com (the "Website"), and more generally, use any of our services (the "Services", which include the Website), we appreciate that you are trusting us with your personal information. We take your privacy very seriously. In this privacy notice, we seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy notice that you do not agree with, please discontinue use of our Services immediately.
                p.t-left This privacy notice applies to all information collected through our Services (which, as described above, includes our Website), as well as, any related services, sales, marketing or events.
                p.t-left Please read this privacy notice carefully as it will help you understand what we do with the information that we collect.

                p
                    div.t-left TABLE OF CONTENTS
                    ul.styled-list.list-decimal
                        li.t-left WHAT INFORMATION DO WE COLLECT?
                        li.t-left HOW DO WE USE YOUR INFORMATION?
                        li.t-left WILL YOUR INFORMATION BE SHARED WITH ANYONE?
                        li.t-left DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?
                        li.t-left HOW DO WE HANDLE YOUR SOCIAL LOGINS?
                        li.t-left HOW LONG DO WE KEEP YOUR INFORMATION?
                        li.t-left HOW DO WE KEEP YOUR INFORMATION SAFE?
                        li.t-left WHAT ARE YOUR PRIVACY RIGHTS?
                        li.t-left CONTROLS FOR DO-NOT-TRACK FEATURES
                        li.t-left DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?
                        li.t-left DO WE MAKE UPDATES TO THIS NOTICE?
                        li.t-left HOW CAN YOU CONTACT US ABOUT THIS NOTICE?
                        li.t-left HOW CAN YOU REVIEW, UPDATE OR DELETE THE DATA WE COLLECT FROM YOU?
                        li.t-left WHAT INFORMATION DO WE COLLECT?
                
                p 
                    h3.t-left Personal information you disclose to us
                    div.t-left In Short: We collect personal information that you provide to us.

                p.t-left We collect personal information that you voluntarily provide to us when you register on the Website, express an interest in obtaining information about us or our products and Services, when you participate in activities on the Website (such as by posting messages in our online forums or entering competitions, contests or giveaways) or otherwise when you contact us.

                p.t-left 
                    The personal information that we collect depends on the context of your interactions with us and the Website, the choices you make and the products and features you use. The personal information we collect may include the following:

                    ul.styled-list 
                        li.t-left Personal Information Provided by You. We collect names; phone numbers; email addresses; mailing addresses; usernames; billing addresses; debit/credit card numbers; contact or authentication data; contact preferences; passwords; and other similar information.
                        li.t-left Payment Data. We may collect data necessary to process your payment if you make purchases, such as your payment instrument number (such as a credit card number), and the security code associated with your payment instrument. All payment data is stored by Stripe. You may find their privacy notice link(s) here: https://stripe.com/privacy.
                        li.t-left Social Media Login Data. We may provide you with the option to register with us using your existing social media account details, like your Facebook, Twitter or other social media account. If you choose to register in this way, we will collect the information described in the section called "HOW DO WE HANDLE YOUR SOCIAL LOGINS" below.

                p.t-left All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information.

                p
                    h3.t-left Information automatically collected
                    div.t-left In Short: Some information — such as your Internet Protocol (IP) address and/or browser and device characteristics — is collected automatically when you visit our Website.

                p.t-left We automatically collect certain information when you visit, use or navigate the Website. This information does not reveal your specific identity (like your name or contact information) but may include device and usage information, such as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about how and when you use our Website and other technical information. This information is primarily needed to maintain the security and operation of our Website, and for our internal analytics and reporting purposes.

                p.t-left Like many businesses, we also collect information through cookies and similar technologies.

                p.t-left The information we collect includes: Log and Usage Data. Log and usage data is service-related, diagnostic, usage and performance information our servers automatically collect when you access or use our Website and which we record in log files. Depending on how you interact with us, this log data may include your IP address, device information, browser type and settings and information about your activity in the Website (such as the date/time stamps associated with your usage, pages and files viewed, searches and other actions you take such as which features you use), device event information (such as system activity, error reports (sometimes called 'crash dumps') and hardware settings). Device Data. We collect device data such as information about your computer, phone, tablet or other device you use to access the Website. Depending on the device used, this device data may include information such as your IP address (or proxy server), device and application identification numbers, location, browser type, hardware model Internet service provider and/or mobile carrier, operating system and system configuration information. Location Data. We collect location data such as information about your device's location, which can be either precise or imprecise. How much information we collect depends on the type and settings of the device you use to access the Website. For example, we may use GPS and other technologies to collect geolocation data that tells us your current location (based on your IP address). You can opt out of allowing us to collect this information either by refusing access to the information or by disabling your Location setting on your device. Note however, if you choose to opt out, you may not be able to use certain aspects of the Services.



        //- global footer
        include components/shell/footer.pug

        script(src="js/app.js")
        script(src="js/lazysizes.min.js")
